.jumbotron {
    margin-top: 40px;
    background-color:royalblue;
    color: black;
}
.btn-es{
    background-color:royalblue;
    color: white;
    width: 100%;
}
footer{
    padding: 10px 0px 10px 0px;
    background-color:royalblue;
    margin-top: 50px;
}
.drog{
    padding: 2px 5px 2px 5px;
}
.win{
    color: white;
}