@blue:#4169e1;
@yellow:#FFEE58;
@green:#4CAF50;
@red:#FF0000;

.margenes(@top:10px ,@bottom:10px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    .margenes(50px, 0px);
    background-color:@blue;
    color: black; }
  
.btn-es {
    background-color: @green;
    color: white;
    width: 100%; }
  
footer {
    padding: 10px 0px 10px 0px;
    background-color:@red;
    margin-top: 50px; }
  
.drog {
    padding: 2px 5px 2px 5px; }
  
.win {
    color: white; }
  