$blue:#4169e1;
.jumbotron {
    margin-top: 40px;
    background-color:$blue;
    color: black;
}
.btn-es{
    background-color:$blue;
    color: white;
    width: 100%;
}
footer{
    padding: 10px 0px 10px 0px;
    background-color:$blue;
    margin-top: 50px;
}
.drog{
    padding: 2px 5px 2px 5px;
}
.win{
    color: white;
}