.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #4169e1;
  color: black;
}
.btn-es {
  background-color: #4CAF50;
  color: white;
  width: 100%;
}
footer {
  padding: 10px 0px 10px 0px;
  background-color: #FF0000;
  margin-top: 50px;
}
.drog {
  padding: 2px 5px 2px 5px;
}
.win {
  color: white;
}
